<div class="container">
    <div id="p-1" class="mapa" routerLink="/p1"></div>
    <div id="p-2" class="mapa" routerLink="/p2"></div>
    <div style="height: 500px; width: 500px;"  routerLink="/p3">
        <div id="p-3-1" class="mapa"></div>
        <div id="p-3-2" class="mapa"></div>
        <div id="p-3-3" class="mapa"></div>
    </div>
    <div id="p-4" class="mapa" routerLink="/p4"></div>
    <div id="p-5" class="mapa" routerLink="/p5"></div>
    <div id="p-6" class="mapa" routerLink="/p6"></div>
    <div id="p-7" class="mapa" routerLink="/p7"></div>
    <div id="p-8" class="mapa" routerLink="/p8"></div>
    <div id="p-9" class="mapa" routerLink="/p9"></div>
    <div id="p-10" class="mapa" routerLink="/p10"></div>
    <div id="p-11" class="mapa" routerLink="/p11"></div>
    <div id="p-12" class="mapa" routerLink="/p12"></div>
    <div id="p-13" class="mapa" routerLink="/p13"></div>
    <div id="p-14" class="mapa" routerLink="/p14"></div>
    <div style="height: 500px; width: 500px;" routerLink="/p15">
        <div id="p-15-1" class="mapa"></div>
        <div id="p-15-2" class="mapa"></div>
    </div>
    <div id="p-16" class="mapa" routerLink="/p16"></div>
</div>
