<div class="base container d-flex justify-content-center flex-wrap">
    <div class="d-flex justify-content-center flex-wrap" style="height: 100%; width: 100%;">
        <div id="esqueda" class="mapa d-flex justify-content-center flex-wrap" style="height: 92%; width: 24.4%; margin: 1.4% 0% 0% 0.5%;">
            <div class="base-b-masculino">
                <div class="cenario" style="height: 86%; width: 100%;"><div class="banheiro-m"></div></div>
            </div>
        </div>
        <div id="direita" class="d-flex justify-content-center flex-wrap" style="height: 100%; width: 73%;">

            <div id="cima" class="d-flex justify-content-center flex-wrap" style="height: 50%; width: 100%;">
                <div class="d-flex flex-wrap cima" style="width: 91%;">
                    <div class="d-flex flex-wrap" style="height: 85%; width: 8.8%;">
                        <div class="cenario" style="height: 62%; width: 100%;"><div class="banheiro-f"></div></div>
                        <div class="cenario" style="height: 38%; width: 50%;"><div class="banheiro-c"></div></div>
                    </div>
                    <div class="mapa" style="height: 84%; width: 28%;"></div>
                    <div class="mapa" style="height: 84%; width: 9%;"></div>
                </div>
                <div class="mapa cima" style="height: 74%; width: 8.5%; margin-right: 0.5%;"></div>
            </div>
            
            <div id="baixo" class="d-flex flex-wrap" style="height: 50%; width: 100%;">
                <div class="mapa" style="height: 80%; width: 8.2%; margin-top: 2.8%;"></div>
                <div class="mapa recepcao" style="height: 92%; width: 21%; margin-left: 4%;"></div>
            </div>
            
        </div>
    </div>
</div>