<div class="base container d-flex justify-content-center flex-wrap">
    <div class="d-flex justify-content-center flex-wrap" style="height: 100%; width: 91%;">
        <div id="cima" class="d-flex justify-content-center flex-wrap" style="height: 57.5%; width: 100%;">
            <div class="mapa" style="width: 19.2%; margin-left: 0.25%;" (click)="onClick(72)"><span class="numero">12</span></div>
            <div class="mapa" style="width: 14.2%;" (click)="onClick(73)"><span class="numero">13</span></div>
            <div class="mapa" style="width: 9.3%;" (click)="onClick(74)"><span class="numero">14</span></div>
            <div class="mapa" style="width: 14%;" (click)="onClick(75)"><span class="numero">15</span></div>
            <div class="mapa" style="width: 19.2%;" (click)="onClick(76)"><span class="numero">16</span></div>
            <div style="width: 4.8%;"></div>
            <div class="mapa" style="height: 84%; width: 9.5%;" (click)="onClick(61)"><span class="numero">1</span></div>
            <div class="mapa" style="height: 84%; width: 9.5%;" (click)="onClick(62)"><span class="numero">2</span></div>
        </div>
        
        <div id="baixo" class="d-flex justify-content-center flex-wrap" style="height: 42.5%; width: 100%;">
            <div class="mapa" style="width: 14.5%; margin-left: 0.25%;" (click)="onClick(71)"><span class="numero">11</span></div>
            <div class="mapa" style="width: 18.75%;" (click)="onClick(70)"><span class="numero">10</span></div>
            <div class="mapa" style="width: 19%;" (click)="onClick(69)"><span class="numero">9</span></div>
            <div class="d-flex flex-wrap" style="width: 9%;">
                <div class="cenario" style="height: 33%; width: 28%; margin-right: 57%;"><div class="banheiro-c"></div></div>
                <div class="cenario" style="height: 67%; width: 50%; margin: 0;"><div class="banheiro-m"></div></div>
                <div class="cenario" style="height: 67%; width: 50%; margin: 0;"><div class="banheiro-f"></div></div>
            </div>
            <div style="width: 5%;"></div>
            <div class="mapa" style="height: 93%; width: 4.8%; margin-top: 0.4%;" (click)="onClick(68)"><span class="numero">8</span></div>
            <div class="mapa" style="height: 93%; width: 4.8%; margin-top: 0.4%;" (click)="onClick(67)"><span class="numero">7</span></div>
            <div class="mapa" style="height: 93%; width: 4.8%; margin-top: 0.4%;" (click)="onClick(66)"><span class="numero">6</span></div>
            <div class="mapa" style="height: 89.15%; width: 9.5%; margin-top: 0.8%;" (click)="onClick(65)"><span class="numero">5</span></div>
            <div class="mapa" style="height: 89.15%; width: 9.5%; margin-top: 0.8%;" (click)="onClick(64)"><span class="numero">4</span></div>
        </div>
    </div>
    <div id="direita" class="mapa d-flex justify-content-center flex-wrap" style="height: 97%; width: 8.9%; margin: 0.3% 0.1% 0% 0;"><span class="numero">3</span></div>
</div>