<div class="base container d-flex justify-content-center flex-wrap">
    <div id="cima" class="d-flex flex-wrap" style="height: 59%; width: 100%;">
        <div class="mapa" style="width: 12%;"></div>
        <div class="mapa" style="width: 12%;"></div>
        <div style="width: 12%;"></div>
        <div class="mapa" style="width: 12%;"></div>
        <div class="mapa" style="width: 12%;"></div>
        <div style="width: 12%;"></div>
        <div class="mapa" style="width: 12%;"></div>
        <div class="mapa" style="width: 12%; margin-right: 0%;"></div>
    </div>
    
    <div id="baixo" class="d-flex flex-wrap" style="height: 41%; width: 100%;">
        <div class="mapa" style="width: 7.7%;"></div>
        <div class="mapa" style="width: 7.7%;"></div>
        <div class="mapa" style="width: 7.7%;"></div>
        <div class="mapa" style="width: 7.7%;"></div>
        <div class="cenario" style="width: 6%;"><div class="banheiro-f"></div></div>
        <div class="cenario" style="width: 6%;"><div class="banheiro-m"></div></div>
        <div class="cenario" style="height: 22%; width: 5.3%;"></div>
        <div style="width: 7%;"></div>
        <div class="mapa" style="width: 12%;"></div>
        <div class="mapa" style="width: 22.2%;"></div>
    </div>
</div>