<div class="base container d-flex flex-wrap">
    <div class="esquerda">
        <div id="p-11" class="mapa" routerLink="/p11"></div>
        <div id="p-15">
            <div id="p-15-1" class="cenario"></div>
            <div id="p-15-2" class="cenario"></div>
        </div>
    </div>

    <div class="direita">
        <div class="direita-cima d-flex flex-wrap">
            <div class="direita-cima-esquerda d-flex flex-wrap">
                <div id="p-12" class="cenario" routerLink="/p12"></div>
                <div class="d-flex flex-wrap" style="width: 100%;">
                    <div id="p-13" class="cenario"></div>
                    <div id="p-3">
                        <div id="p-3-1" class="cenario"></div>
                        <div id="p-3-2" class="cenario"></div>
                        <div id="p-3-3" class="cenario"></div>
                    </div>
                </div>
            </div>
            <div class="direita-cima-direita">
                <div id="p6-p7-p9">
                    <div id="p-6" class="mapa" routerLink="/p6"></div>
                    <div id="p-7" class="mapa" routerLink="/p7"></div>
                    <div id="p-9" class="cenario"></div>
                </div>
                <div id="p4-p5">
                    <div id="p-4" class="mapa" routerLink="/p4"></div>
                    <div id="p-5" class="mapa" routerLink="/p5"></div>
                </div>
                <div class="d-flex flex-wrap" style="width: 100%;">
                    <div id="p-2" class="mapa" routerLink="/p2"></div>
                    <div id="p-8" class="cenario" routerLink="/p8"></div>
                </div>
            </div>
        </div>

        <div class="direita-baixo">
            <div id="p1-p10">
                <div id="p-1" class="mapa" routerLink="/p1"></div>
                <div id="p-10" class="mapa" routerLink="/p10"></div>
            </div>
            <div id="p-14" class="cenario"></div>
        </div>
    </div>
    
    
    <div class="baixo">
        <div id="p-16" class="cenario"></div>
    </div>
</div>
