<div class="base container d-flex justify-content-center flex-wrap">
    <div style="height: 100%; width: 70.5%;">
        <div id="cima" class="d-flex flex-wrap" style="height: 51%; width: 100%;">
            <div class="mapa" style="height: 82%; width: 10%; margin: 0 0 0 1%;"></div>
            <div class="mapa" style="width: 13%; margin-left: 20.2%;"></div>
            <div class="mapa" style="width: 12.6%;"></div>
            <div class="cenario" style="width: 5.5%;"><div class="banheiro-m"></div></div>
            <div class="cenario" style="width: 5.5%;"><div class="banheiro-f"></div></div>
        </div>
        
        <div id="baixo" class="d-flex flex-wrap" style="height: 49%; width: 100%;">
            <div class="mapa" style="height: 91%; width: 30.2%; margin-left: 1%;"></div>
            <div class="mapa" style="height: 91%; width: 17.5%;"></div>
            <div class="mapa" style="height: 91%; width: 18.6%;"></div>
            <div class="mapa" style="height: 91%; width: 32.7%;"></div>
        </div>
    </div>
    <div id="direita" class="d-flex flex-wrap" style="height: 100%; width: 29.5%;">
        <div id="direita-esquerda" class="d-flex justify-content-center flex-column" style="height: 100%; width: 44.5%;">
            <div class="cenario" style="height: 28%; margin-bottom: 46.5%;"><div class="banheiro-m"></div></div>
            <div class="mapa" style="height: 17%;"></div>
            <div class="cenario" style="height: 26%;"><div class="banheiro-f"></div></div>
        </div>
        <div class="d-flex justify-content-center flex-column" style="height: 100%; width: 54.5%;">
            <div class="mapa" style="height: 39.2%; width: 99%;"></div>
            <div class="mapa" style="height: 51.5%; width: 99%;"></div>
        </div>
    </div>
    
</div>