/*larg * alt*/
/*Piso - 1050 x 375*/
/*sala tipo 1 - 110 x 110*/
/*sala tipo 2 - 110 x 130*/
/*sala tipo 3 - 130 x 130*/
/*banheiro - 90 x 110*/
/*escadas - 90 x 85*/

.base {
    clip-path: polygon(54.1% 85%, 54.1% 90.5%, 64.5% 90.5%, 64.5% 85%, 72.7% 85%, 72.7% 90.5%, 83.1% 90.5%, 83.1% 84.7%, 95.2% 84.7%, 95.2% 15%, 
    83.1% 15%, 83.1% 9.6%, 72.7% 9.6%, 72.7% 15%, 64.5% 15%, 64.5% 9.6%, 54.1% 9.6%, 54.1% 15%, 44% 15%, 44% 9.6%, 33.6% 9.6%, 33.6% 15%, 25.4% 15%, 25.4% 9.6%, 15% 9.6%,
    15% 15%, 4.8% 15%, 4.8% 85%, 15% 85%, 15% 90.5%, 25.4% 90.5%, 25.4% 85%, 33.6% 85%, 33.6% 90.5%, 44% 90.5%, 44% 85%);
}

#piso-2{
    /* background: var(--cinza-fatec); */
    /* background-image: url("E:\Fatec\TG\ca\piso 2.png"); */
    height: 375px;
    width: 1050px;
}

#cima * {
    align-self: flex-end;
    margin-bottom: 4%;
}

#baixo * {
    margin-top: 4%;
}

.sala-tipo-1{
    height: 58.67%;
    width: 10.48%;
}

.sala-tipo-2{
    height: 69.33%;
    width: 10.48%;
}

.sala-tipo-3{
    height: 69.33%;
    width: 12.38%;
}

.banheiro{
    height: 58.67%;
    width: 8.57%;
}

.escada{
    height: 47.5%;
    width: 8.57%;
}

.elevador{
    background: rgb(148, 48, 48);
    height: 40%;
    width: 40%;
    margin: auto !important;
}