.base {
    clip-path: polygon(0% 56.7%, 0% 98.7%, 25.8% 98.7%, 25.8% 85.7%, 46% 85.7%, 46% 93%, 57% 93%, 57% 85.7%, 76.4% 85.7%, 76.4% 98.7%,
     100% 98.7%, 100% 48%, 56.3% 48%, 56.3% 1.5%, 43.6% 1.5%, 43.6% 48%, 33% 48%, 33% 56.7%, 32% 56.7%, 32% 52%, 20% 52%, 20% 56.7%);
    height: 708px;
    width: 860px;
    /* background-image: url("../../../../../../../../campus/p1.png");
    background-size: cover; */
}

#cima * {
    align-self: center;
}

#centro * {
    height: 80%;
}

#baixo * {
    height: 45%;
}

.escada {
    height: 35% !important;
    width: 100% !important;
    margin: -1% 0 0 -101%;
    position: relative;
}

/* @media (min-width: 460px) {
    .base {
        height: 150px;
        width: 420px;
    }
}

@media (min-width: 580px) {
    .base {
        height: 196.875px;
        width: 840px;
    }
}

@media (min-width: 768px) {
    .base {
        height: 257.25px;
        width: 1050px;
    }
}

@media (min-width: 992px) {
    .base {
        height: 337.5px;
        width: 945px;
    }
}

@media (min-width: 1200px) {
    .base {
        height: 337.5px;
        width: 945px;
    }
}

@media (min-width: 1400px) {
    .base {
        height: 375px;
        width: 1050px;
    }
} */