<div class="base container d-flex justify-content-center flex-wrap">
    <div id="cima" class="d-flex justify-content-center flex-column" style="height: 57%; width: 100%;">
        <div class="mapa" style="height: 46%; width: 12.4%; margin-top: 1.5%;">
            <div class="cenario" style="height: 15%; width: 50%; margin-top: 155%;"></div>
        </div>
        <div class="mapa" style="height: 51.5%; width: 12.4%;"></div>
    </div>
    <div id="centro" class="d-flex justify-content-center flex-wrap" style="height: 16.5%; width: 100%;">
        <div class="mapa" style="height: 100%; width: 12.2%;"></div>
        <div class="mapa" style="width: 17.5%;"></div>
        <div class="mapa" style="width: 12.4%; margin-left: 2.5%;"><div class="cenario escada"></div></div>
        <div class="mapa" style="width: 24%;"></div>
        <div class="mapa" style="width: 6%;"></div>
        <div class="mapa" style="width: 9%;"></div>
        <div class="mapa" style="width: 8%;"></div>
        <div class="mapa" style="width: 8%;"></div>
    </div>
    <div id="baixo" class="d-flex justify-content-center flex-wrap" style="height: 26.5%; width: 100%;">
        <div style="height: 100%; width: 15%;">
            <div class="mapa" style="height: 49%; width: 82%;"></div>
            <div class="mapa" style="height: 45%; width: 100%;"></div>
        </div>
        <div class="mapa" style="height: 94%; width: 10.6%;"></div>
        <div class="mapa" style="width: 9.8%;"></div>
        <div class="mapa" style="width: 12.5%;"></div>
        <div style="width: 6.5%;"></div>
        <div class="mapa" style="width: 16%;"></div>
        <div class="mapa" style="width: 6%;"></div>
        <div class="mapa" style="height: 94%; width: 9.5%;"></div>
        <div class="mapa" style="height: 94%; width: 9.5%;"></div>
        <div class="mapa" style="height: 34%; width: 4.4%; align-self: flex-end; margin-bottom: 1.35% ;"></div>
    </div>
</div>