<div id="piso-1" class="base container d-flex justify-content-center flex-wrap">
    <div id="esquerda" style="height: 100%; width: 80%;">
        <div id="cima" class="d-flex justify-content-end flex-wrap" style="height: 44%;">
            <div class="mapa sala-tipo-1" (click)="onClick(35)"><span class="numero">5</span></div>
            <div class="mapa sala-tipo-1" (click)="onClick(33)" style="margin-bottom: 3%;"><span class="numero">3</span></div>
            <div class="mapa sala-tipo-1" (click)="onClick(31)" style="margin-right: 10%;"><span class="numero">1</span></div>
            <div class="cenario banheiro" style="margin-left: 10.15%;"><div class="banheiro-f"></div></div>
        </div>
        
        <div id="baixo" class="d-flex justify-content-end flex-wrap" style="height: 56%;">
            <div class="mapa sala-tipo-2" (click)="onClick(36)"><span class="numero">6</span></div>
            <div class="mapa sala-tipo-1" (click)="onClick(34)" style="margin-top: 11.1%;"><span class="numero">4</span></div>
            <div class="mapa sala-tipo-1" (click)="onClick(32)" style="margin: 8.1% 7% 0 0;"><span class="numero">2</span></div>
            <div class="mapa recepcao" (click)="onClick(30)" style="margin: 11.1% 0 0 7%;"></div>
            <div class="cenario banheiro" style="margin-top: 8.1%;"><div class="banheiro-m"></div></div>
        </div>
    </div>
    
    <div id="direita" class="d-flex justify-content-center flex-column" style="height: 100%; width: 20%;">
        <div class="cenario sala-tipo-3"></div>
        <div class="cenario sala-tipo-5"></div>
        <div class="cenario sala-tipo-4"></div>
    </div>
</div>