<div id="piso-1" class="base container d-flex justify-content-center flex-wrap">
    <div id="esquerda" style="height: 100%; width: 80%;">
        <div id="cima" class="d-flex justify-content-end flex-wrap" style="height: 44%;">
            <div class="mapa sala-tipo-1" (click)="onClick(35)"></div>
            <div class="mapa sala-tipo-1" (click)="onClick(33)" style="margin-bottom: 3%;"></div>
            <div class="mapa sala-tipo-1" (click)="onClick(31)" style="margin-right: 10%;"></div>
            <div class="mapa banheiro" style="margin-left: 10.15%;"></div>
        </div>
        
        <div id="baixo" class="d-flex justify-content-end flex-wrap" style="height: 56%;">
            <div class="mapa sala-tipo-2" (click)="onClick(36)"></div>
            <div class="mapa sala-tipo-1" (click)="onClick(34)" style="margin-top: 11.1%;"></div>
            <div class="mapa sala-tipo-1" (click)="onClick(32)" style="margin: 8.1% 7% 0 0;"></div>
            <div class="mapa recepcao" style="margin: 11.1% 0 0 7%;"></div>
            <div class="mapa banheiro" style="margin-top: 8.1%;"></div>
        </div>
    </div>
    
    <div id="direita" class="d-flex justify-content-center flex-column" style="height: 100%; width: 20%;">
        <div class="mapa sala-tipo-3"></div>
        <div class="mapa sala-tipo-5"></div>
        <div class="mapa sala-tipo-4"></div>
    </div>
</div>