.mapa{
    background: var(--vermelho-fatec);
    display: flex;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.mapa:hover{
    background: repeating-linear-gradient(
        45deg,
        var(--vermelho-fatec),
        var(--vermelho-fatec) 5px,
        var(--vermelho-claro-fatec) 5px,
        var(--vermelho-claro-fatec) 10px
    )
}