.mapa{
    background: var(--vermelho-fatec);
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(104, 34, 34);
}

.mapa:hover{
    background: repeating-linear-gradient(
        45deg,
        var(--vermelho-fatec),
        var(--vermelho-fatec) 5px,
        var(--vermelho-claro-fatec) 5px,
        var(--vermelho-claro-fatec) 10px
    )
}

.cenario{
    background: var(--vermelho-claro-fatec);
    display: flex;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(148, 48, 48);
}

.base {
    background: var(--cinza-fatec);
}