<div class="container justify-content-center text-center">
    
    <h2 class="mt-4">Fatec - Interativa</h2>
    <p>Selecione um mapa para vizualizar detalhes.</p>
    <!-- <ng-select name="clientes" placeholder="Pesquisar clientes..." 
        [multiple]="true" 
        [hideSelected]="true"
        [(ngModel)]="selectedClientesId" 
        (clear)="clear()" 
        (change)="change()" 
        [openOnEnter]="false"
        (keyup.enter)="pesquisar()">

        <ng-option *ngFor="let cliente of clientes" [value]="cliente.idCliente">
        {{ cliente.idCliente }} - {{ cliente.nomeCliente }}
        </ng-option>

    </ng-select> -->
    <app-mapa></app-mapa>

    
</div>